IDI_ICON1               ICON    DISCARDABLE     "favicon.ico"
1 VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEOS 0x4
FILETYPE 0x0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Eurobattle.net"
      VALUE "FileDescription", "Eurobattle.net Installer"
      VALUE "FileVersion", "0,0,0,1"
      VALUE "InternalName", "Installer"
      VALUE "LegalCopyright", ""
      VALUE "OriginalFilename", "installer.exe"
      VALUE "ProductName", "Installer"
      VALUE "ProductVersion", "0,0,0,1"
    END
  END 
  
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

#define MANIFEST_RESOURCE_ID 1
MANIFEST_RESOURCE_ID RT_MANIFEST "installer.manifest"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "installer.manifest"